|===
|파라미터|필수|설명

{{#parameters}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#optional}}X{{/optional}}{{^optional}}O{{/optional}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/parameters}}
|===
