|===
|파트|필수|설명

{{#requestParts}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#optional}}X{{/optional}}{{^optional}}O{{/optional}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/requestParts}}
|===
