|===
|헤더|필수|설명

{{#headers}}
|{{#tableCellContent}}`+{{name}}+`{{/tableCellContent}}
|{{#optional}}X{{/optional}}{{^optional}}O{{/optional}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/headers}}
|===
