|===
|필드|타입|필수|설명

{{#fields}}
|{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
|{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
|{{#optional}}X{{/optional}}{{^optional}}O{{/optional}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}

{{/fields}}
|===
